@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Open Sans, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(90 90 90 / var(--tw-text-opacity));
  -webkit-font-smoothing: antialiased;
}

.css-bdcj6b-MuiButtonBase-root-MuiButton-root{
  font-size: 1rem;
        line-height: 1.5rem;
}
.secondImg{
  height: 100%;
}
.secondGried{
  padding-top: 20px;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item{
  position: relative;
  display: inline-block;
  overflow: hidden;
}


.css-mhc70k-MuiGrid-root>.MuiGrid-item img {
  display: block;
  width: 100%;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%; /* Starts outside the image */
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg, 
    rgba(255, 255, 255, 0) 0%, 
    rgba(255, 255, 255, 0.5) 50%, 
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  transition: none;
  animation: none; /* Default state: no animation */
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item:hover::before {
  animation: shine 2s;
}



@keyframes shine {
  to {
    left: 100%; /* Ends outside the image */
  }
}

.headingProduct{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
    padding-bottom: 10px;
}
.thirdGried .product-item:hover {
cursor: pointer; /* Show pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Box-shadow effect */
  animation: jump 0.3s ease-in-out; /* Add jump animation */
}

.productList .MuiPaper-root:hover{
  cursor: pointer; /* Show pointer cursor on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Box-shadow effect */
  animation: jump 0.3s ease-in-out; /* Add jump animation */
}

.productList .MuiCardContent-root{
  text-align: center;
}

.productList .headingProduct {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding-top: 25px;
}

.swiper-slide{
  cursor:pointer;
}
.swiper-slide:hover .bgd{
  opacity: 1;
  height: 229px;
    width: 229px;
    margin: 0 auto;
    margin-top: 17px;
    background-color: rgb(90 96 106 / 66%);
}

.swiper-slide:hover svg{
  opacity: 1;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

.iconsMenu path{
  color: #ffffff;
}
.mainDigialogBox .css-19do60a-MuiDialog-container{
height: 17% !important;
overflow: hidden;
}
.mainDigialogBox .MuiSvgIcon-root{
  position: absolute;
  right: 12px;
  cursor: pointer;
}

.swiper-button-next, .swiper-button-prev {
  color: #a1893f !important; /* Your desired arrow color */
}

/* Keyframes for small jump effect */
@keyframes jump {
  0% {
    transform: translateY(0); /* Initial position */
  }
  50% {
    transform: translateY(-5px); /* Small upward jump */
  }
  100% {
    transform: translateY(0); /* Back to initial position */
  }
}


@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.8;
  }
}


.css-t508yj div{
  z-index: 9;
}